<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
    <filter>
        <filter-name>ValidationFilter</filter-name>
        <filter-class>com.example.filters.ValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <url-pattern>/submit</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>com.example.servlets.FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>
</web-app>
